.container
 {
    border: 30px aquamarine;
    background-color: lightgray;
    display: inline-flex;
    padding: 10px;
    margin-left: -20px;
    margin-right: auto;
}
li, a {
    color:black;
    
}
li {
    margin-right: -1px;
    margin-bottom: 10px;
}
ul {
    border: 10px aquamarine;
}